html(ng-app='app').
head
	script(src='javascripts/angular/angular.js')
	script(src='javascripts/core.js')
	script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js')
	script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js')
	script(src='http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js')
	link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/animate.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	body(ng-controller='retrieveController')
	<div class="container animated fadeIn">
	<div class="row" style="margin-top:70px;">



	<div class="col-md-12 container animated fadeIn">
	<h4 style="float:left">Equipo azul</h4><h4 style="text-align:right">Equipo morado</h4>
	<div class="row player_container">
	<div class="col-md-6 animated fadeIn graybg blueTeam shadow">

	<div class="col-md-6">
	<div class="col-md-12" style="display:block"ng-repeat='item in jsonData.participants | limitTo:5'>
	<div class="player paddingTop"><img src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/profileicon/{{item.profileIconId}}.png" width="50px" style="margin-right:5px"/><img src="/images/champion_portraits/{{item.championId}}_Web_0.jpg" width="50px" style="margin-right:15px"/><a href="http://www.lolking.net/summoner/euw/{{item.summonerId}}"/>{{item.summonerName}}</a></div>
	</div>
	</div>

	<div class="col-md-6 animated fadeIn graybg">
	<div class="col-md-12 player paddingTop" ng-repeat="item in championsData | limitTo:5">
	<p style="font-weight:bold">{{item.name}}</p>
	<p style="font-weight:bold">Ataque: {{item.info.attack}}, Defensa: {{item.info.defense}}, AP: {{item.info.magic}}, Dificultad: {{item.info.difficulty}}</p>
	<p>{{item.allytips[0]}}</p>
	<img width="30px" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/{{item.recommended[4].blocks[1].items[0].id}}.png"/>
	<img width="30px" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/{{item.recommended[4].blocks[1].items[1].id}}.png"/>
	<img width="30px" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/{{item.recommended[4].blocks[1].items[2].id}}.png"/>

	</div>
	</div>

	</div>

	<div class="col-md-6 animated fadeIn graybg purpleTeam shadow">


	<div class="col-md-6 animated fadeIn graybg">
	<div class="col-md-12 player paddingTop" ng-repeat="item in championsData | limitTo:-5">
	<p style="font-weight:bold">{{item.name}}</p>
	<p style="font-weight:bold">Ataque: {{item.info.attack}}, Defensa: {{item.info.defense}}, AP: {{item.info.magic}}, Dificultad: {{item.info.difficulty}}</p>
	<p>{{item.enemytips[0]}}</p>
	<img width="30px" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/{{item.recommended[4].blocks[1].items[0].id}}.png"/>
	<img width="30px" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/{{item.recommended[4].blocks[1].items[1].id}}.png"/>
	<img width="30px" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/{{item.recommended[4].blocks[1].items[2].id}}.png"/>
	</div>
	</div>

	<div class="col-md-6">
	<div class="col-md-12" style="display:block" ng-repeat='item in jsonData.participants | limitTo:-5'>
	<div class="player paddingTop" style=" border-bottom:10x solid #d6d6d6; clear:both; float:right; text-align:right;"><a href="http://www.lolking.net/summoner/euw/{{item.summonerId}}"/>{{item.summonerName}}</a><img src="/images/champion_portraits/{{item.championId}}_Web_0.jpg" width="50px" style="margin-left:15px"/><img src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/profileicon/{{item.profileIconId}}.png" width="50px" style="margin-left:5px"/></div>
	</div>
	</div>
	</div>
	</div>
	</div>