blue = #35b1ff
test = red
gray_bg = #F2F2F2
purple = #C073FF

html
  height:100%

body
  padding: 0px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin:0 auto
  color:333333
  height:100%
a
  color: #00B7FF

#slider
  margin:0 auto
  margin-top: 100px
  height:400px
  width:auto
  background: url('/images/slider.jpg')
  -webkit-box-shadow: 1px 3px 10px 3px #111111;
  box-shadow: 1px 3px 10px 3px #111111;

#sliderwrap
  padding-top: 50px
  margin: 0 auto
  width:400px  

.container
  height:100%

h1
  color:white

h3
  color:blue

.bg_test
  background-color:test

.graybg
  background-color:gray_bg

.blueTeam
  border-top: 10px solid blue

.purpleTeam
  border-top: 10px solid purple

.white_text
  color:white

.player
  height:75px
  width:auto

.paddingTop
   padding-top:15px;

.shadow
  -webkit-box-shadow: 1px 1px 1px 1px #D6D6D6;
  box-shadow: 1px 1px 1px 1px #D6D6D6;

.test2
  background-color:test2

@media (max-width:600px)
  #sliderwrap
    padding: 50px 25px 25px 25px
    width:100%